@import '../../../assets/styles/variables';

.sidebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    min-height: calc(100vh - 48px);
    min-width: 280px;
    box-shadow: $sidebar-shadow;

    &__top, &__bottom {
        width: 100%;
    }

    &__logo {
        padding: $offset-md 0;
        transition: all $animation-fast;
        font-size: $font-lg;
        font-weight: bold;
        text-align: center;
    }

    &__nav {
        width: 100%;

        &-link {
            width: 100%;
            display: block;
            text-align: center;
            padding: $offset-md $offset-sm;
            font-size: $font-md*1.2;
            box-sizing: border-box;

            &:hover {
                background-color: $lighter-color;
            }
        }
    }
}