.layout {

    &__light {
        background-color: $smoke-color;
        color: $dark-color;

        .topbar {
            background-color: $lightest-color;
        }
    }

    &__dark {
        background-color: $dark-color;
        color: $white-color;
        
        .topbar {
            background-color: $darker-color;
        }

        .content {
            background-color: $darkest-color;
        }
    }
}
