.layout {
    min-height: 100vh;
    height: auto;

    &__light {
        background-color: $smoke-color;
        color: $dark-color;

        .topbar {
            background-color: $lighter-color;
        }

        .sidebar {
            background-color: $lightest-color;
        }
    }

    &__dark {
        background-color: $dark-color;
        color: $white-color;
        
        .topbar {
            background-color: $darker-color;
        }

        .sidebar {
            background-color: $gray-color;
        }
    }
}
